@charset "UTF-8";
/* 기존 UI에서 추가된 CSS 선언 */
.error {
	color: red;
}

/* 말줄임 */
.td-ell{
		max-width: 100px; 	overflow: hidden;	text-overflow: ellipsis; white-space: nowrap;
}

[v-cloak] {
	display: none;
}